.table {
    width: 100%; 
    margin: 0 auto; 
  }
  
  .table td:nth-child(2) {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
  .table th {
    color: grey;
  }

  .table-container {
    max-width: 60vw;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
 

  .movie-picture {
    max-width: 100px; 
}

.movie-name {
    font-weight: bold; 
}


.description {
    margin-top: 10px; 
    font-style: oblique;
    word-wrap: break-word;
    white-space: pre-wrap; 
    
      
  }

  .hall-details {
    margin-top: 10px; 
    color: #909090;
  }


th {
  font-size: 20px;
  margin: 30px;
  padding: 15px;
}

td {
  padding: 30px;
}




