<mat-toolbar>
  <img
    src="https://banner2.cleanpng.com/20180323/ape/kisspng-art-film-logo-cinema-clip-art-movie-logo-cliparts-5ab587fb1000c4.1651552415218462670656.jpg"
    alt="Movie Theatre Ticket Logo" height="40" style="margin-right: 16px;">
  <div>
    <button mat-button class="button-nav" routerLink="/home">Home</button>
    <button mat-button class="button-nav" routerLink="/profile">Profile</button>
    <button mat-button class="button-nav" routerLink="/admin/hall" *ngIf="isAdmin">Admin Hall</button>
    <button mat-button class="button-nav" routerLink="/admin/users" *ngIf="isAdmin">Admin Users</button>
  </div>
  <div class="fill-remaining-space"></div>
  <!-- <div>
   
    <button mat-button class="button-nav"(click)="logout()">   <mat-icon>account_circle</mat-icon> {{user?.username}}  Logout
  </button>
</div> -->
  <div class="dropdown">
    <button mat-button class="button-nav dropdown-button " (click)="toggleDropdown()">
      <mat-icon>account_circle</mat-icon>
      {{user?.username}}
    </button>
    <div class="dropdown-content" [ngClass]="{'show-dropdown': isDropdownOpen, 'hide-dropdown': !isDropdownOpen}">
      <div *ngIf="!isLoggedIn">
        <button mat-button class="button-nav dropdown-button" (click)="login()">Login</button>
        <button mat-button class="button-nav dropdown-button " (click)="register()">Register</button>
      </div>
      <div *ngIf="isLoggedIn">
        <button mat-button class="button-nav dropdown-button " (click)="logout()">Logout</button>
      </div>

    </div>
  </div>
</mat-toolbar>