<div class="hall-administration">

    <button class="outlined-button" mat-raised-button (click)="openDialog()">Add Hall</button>
 <br/><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Hall name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hall of halls">
          <td>{{ hall.name }}</td>
          <td class="actions-buttons">
            <button mat-icon-button color="primary" (click)="openEditDialog(hall)">
                <mat-icon class="material-icons-outlined">edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="confirmDelete(hall)">
                <mat-icon color="black" aria-hidden="false" aria-label="Outlined delete icon">delete_outline</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
