<div class="table-container">
    <table class="table table-striped" *ngIf="reservations.length > 0; else noReservations">
        <thead>
            <tr>
                <th>MOVIE NAME</th>
                <th>HOUR</th>
                <th>DATE</th>
                <th>SEATS</th>
                <th>HALL</th>
                <th>CHANGE</th>
                <th>TICKET</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let reservation of reservations">
                <td>{{ reservation.movie.name }}</td>
                <td>{{ reservation.hour.fromHour }} - {{ reservation.hour.toHour }}</td>
                <td>{{ reservation.selectedDate }} </td>
                <td>{{ reservation.numberOfSeats }}</td>
                <td>{{ reservation.movie.hall.name }} </td>
                <td>
                    <button mat-icon-button color="primary" (click)="editReservation(reservation)">
                        <mat-icon class="material-icons-outlined">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="" (click)="deleteReservation(reservation)">
                        <mat-icon color="black" aria-hidden="false"
                            aria-label="Outlined delete icon">delete_outline</mat-icon>
                    </button>

                </td>
                <td>
                    <button mat-icon-button color="primary" (click)="downloadTicket(reservation)">
                        <mat-icon class="material-icons-outlined">download</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noReservations>
        <div class="no-reservations">
            No reservations found
        </div>
    </ng-template>
</div>