.table {
    width: 100%;
    margin: 0 auto; 
}

.table td:nth-child(2) {

    overflow: hidden; 
    text-overflow: ellipsis; 
}

.table th {
    font-size: smaller;
    color: white;
    background-color: black;
}

.table-container {
    margin: 50px ;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-name {
    font-weight: bold; 
}

th {
    font-size: 20px;
    margin: 30px;
    padding: 15px;
}

.table td {
    vertical-align: middle; 
    text-align: center;
}

td {

    padding: 10px;
}

@media screen and (max-width: 768px) {
    th {
        font-size: 18px;
    }
}