.date-picker-field {
    width: 100%;
  
  }
  .number-of-seats-field {
    width: 100%;
  }
  .date-picker-input {
  
    margin: 0;
  }
  
  
  .reservation-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .reservation-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .check-icon {
    color: rgba(0, 128, 0, 0.702); 
    margin-right: 10px;
    vertical-align: middle;
  }

  .gray {
   color: gray;
  }
