<div class="image-container gray-background">
  <img src="https://cdn.pixabay.com/photo/2014/04/24/17/22/film-331553_1280.png" alt="Image 3" class="image-item">
</div>
<div *ngIf="!hasAnsweredQuestionnaire" class="questionnaire-warning">
  <p>If you want personalized recommendations, please take a moment to answer our questionnaire!</p>
  <button mat-button (click)="redirectToQuestionnaire()">Answer Questionnaire</button>
</div>
<mat-tab-group centered class="custom-tab-group">
  <mat-tab label="PLAYING NOW">
    <div class="">
      <app-movie-table [movies]="currentMovies" type="currentMovies">
      </app-movie-table>
    </div>
  </mat-tab>
  <div *ngIf="isLoggedIn">
    <mat-tab label=" YOUR RESERVATIONS">
      <div>
        <!-- <h2>Your Reservations</h2> -->
      </div>
      <div class="">
        <app-reservation-table></app-reservation-table>
      </div>
    </mat-tab>
  </div>
  <mat-tab>
    <ng-template mat-tab-label>
      UPCOMING MOVIES
      <span *ngIf="showStar" class="star-icon">★</span>
    </ng-template>
    <div class="">
      <app-movie-table [movies]="upcomingMovies" type="upcomingMovies"></app-movie-table>
    </div>
  </mat-tab>

</mat-tab-group>