.welcome-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .welcome-text {
    font-family: 'Bebas Neue', sans-serif;
    color: #102829; 
  }

  .image-container {
    display: flex;
    height: 150px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-item {
    height: 80%;
    width: 100%;
    margin-right: 10px; 
    margin-left:10px;
  }
 
  .questionnaire-reminder {
    display: flex; /* Use flexbox to align items */
    width: 450px;
    align-items: center; /* Center align items vertically */
    justify-content: flex-start;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.questionnaire-reminder .reminder-button {
    border: 2px solid #3f51b5; 
    background-color: transparent; 
    color: #3f51b5;
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
    width: auto; 
}

.questionnaire-reminder .reminder-button:hover {
    background-color: #3f51b5; 
    color: white; 
}

.questionnaire-reminder .reminder-text {
    color: #333;
    flex-grow: 1;
    font-style: italic;
}

.questionnaire-reminder .reminder-text p {
    font-size: 1em;
    margin: 0;
    color: #55555577;
}
