<div class="image-container">
  <img src="https://cdn.pixabay.com/photo/2014/04/24/17/22/film-331553_1280.png" alt="Image 3" class="image-item">
</div>
<mat-tab-group centered  class="custom-tab-group">
<mat-tab label="All Movies">
  <div class="">
    <app-movie-table [movies]="movies"></app-movie-table>
  </div>
</mat-tab>

<mat-tab label=" Your Reservations">
  <div>
    <h2>Your Reservations</h2>
  </div>
  <div class="">
    <!-- Replace with your reservation table component -->
    <!-- <app-reservation-table [reservations]="reservations"></app-reservation-table> -->
  </div>
</mat-tab>
<mat-tab label="Upcoming Movies">
  <div class="">
    <app-movie-table [movies]="movies"></app-movie-table>
  </div>
</mat-tab>

</mat-tab-group>