<div>
    <h2>Welcome {{ user?.userName }}</h2>
</div>
<div>
  <h2>Checkout the movies</h2>
</div>
<div class="table-container">
  <h2 class="title-dark-teal">Movie List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>
          <!-- Picture column -->
          <!-- <img [src]="movie.pictureUrl" alt="{{ movie.name }}" class="movie-picture"> -->
        </td>
        <td>
          <!-- Details column -->
          <div class="movie-details">
            <div class="movie-nam">{{ movie.name }}</div>
            <div class="description">{{ movie.description }}</div>
            <div>
              <!-- Buttons -->
             
              <button class="table-btn btn-primary">Book</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>